
<form method="post" enctype="multipart/form-data">
    <table class="table table-bordered">
        <tr><th>File</th> <td><input type="file" name="file" /></td></tr>
        <tr><th>Date(MM-DD-YY)</th> <td><input type="text" name="date" /></td></tr>
    </table>
</form>